In [44]:
import kagglehub
import numpy as np
import polars as pl
from typing import Tuple
from sklearn.preprocessing import LabelEncoder

In [10]:
# Download latest version
path = kagglehub.dataset_download("thedevastator/prices-characteristics-of-spanish-homes")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/thedevastator/prices-characteristics-of-spanish-homes?dataset_version_number=1...

100%|██████████| 62.3M/62.3M [00:02<00:00, 27.3MB/s]

Extracting files...

Path to dataset files: D:\SISTEMA\WinUsers\Irene\.cache\kagglehub\datasets\thedevastator\prices-characteristics-of-spanish-homes\versions\1

In [139]:
file_path = path + "\\" + "pisos.csv"
df_original = pl.read_csv(source=file_path, separator=",", ignore_errors=True)
df_original.head(15)

shape: (15, 14)
┌─────┬───────────────┬─────────────┬──────────────┬───┬───────────┬────────────┬───────┬──────────┐
│     ┆ summary       ┆ description ┆ location     ┆ … ┆ bathrooms ┆ Num Photos ┆ type  ┆ region   │
│ --- ┆ ---           ┆ ---         ┆ ---          ┆   ┆ ---       ┆ ---        ┆ ---   ┆ ---      │
│ i64 ┆ str           ┆ str         ┆ str          ┆   ┆ i64       ┆ i64        ┆ str   ┆ str      │
╞═════╪═══════════════╪═════════════╪══════════════╪═══╪═══════════╪════════════╪═══════╪══════════╡
│ 0   ┆ Casa en calle ┆ null        ┆ Ames (San    ┆ … ┆ 3         ┆ 31         ┆ pisos ┆ a_coruna │
│     ┆ Urb. Las      ┆             ┆ Tome)        ┆   ┆           ┆            ┆       ┆          │
│     ┆ Mimosas       ┆             ┆              ┆   ┆           ┆            ┆       ┆          │
│ 1   ┆ Piso en       ┆ null        ┆ Ames (San    ┆ … ┆ 1         ┆ 11         ┆ pisos ┆ a_coruna │
│     ┆ Milladoiro    ┆             ┆ Tome)        ┆   ┆           ┆            ┆       ┆          │
│ 2   ┆ Casa en calle ┆ null        ┆ A Ortigueira ┆ … ┆ 1         ┆ 40         ┆ pisos ┆ a_coruna │
│     ┆ La Piedra     ┆             ┆ (Cariño)     ┆   ┆           ┆            ┆       ┆          │
│ 3   ┆ Casa en       ┆ null        ┆ Perillo      ┆ … ┆ 3         ┆ 39         ┆ pisos ┆ a_coruna │
│     ┆ Perillo       ┆             ┆ (Oleiros)    ┆   ┆           ┆            ┆       ┆          │
│ 4   ┆ Chalet en     ┆ null        ┆ O Milladoiro ┆ … ┆ 3         ┆ 24         ┆ pisos ┆ a_coruna │
│     ┆ Urbanización  ┆             ┆ (Ames)       ┆   ┆           ┆            ┆       ┆          │
│     ┆ Las Mimos…    ┆             ┆              ┆   ┆           ┆            ┆       ┆          │
│ …   ┆ …             ┆ …           ┆ …            ┆ … ┆ …         ┆ …          ┆ …     ┆ …        │
│ 10  ┆ Piso en       ┆ null        ┆ Concheiros-F ┆ … ┆ 2         ┆ 15         ┆ pisos ┆ a_coruna │
│     ┆ Fontiñas      ┆             ┆ ontiñas      ┆   ┆           ┆            ┆       ┆          │
│     ┆               ┆             ┆ (Santiago    ┆   ┆           ┆            ┆       ┆          │
│     ┆               ┆             ┆ de…          ┆   ┆           ┆            ┆       ┆          │
│ 11  ┆ Piso en calle ┆ null        ┆ Piñeiros-Fre ┆ … ┆ 2         ┆ 9          ┆ pisos ┆ a_coruna │
│     ┆ de Cadaval    ┆             ┆ ixeiro       ┆   ┆           ┆            ┆       ┆          │
│     ┆               ┆             ┆ (Narón)      ┆   ┆           ┆            ┆       ┆          │
│ 12  ┆ Chalet en     ┆ null        ┆ Conxo-Castiñ ┆ … ┆ 3         ┆ 25         ┆ pisos ┆ a_coruna │
│     ┆ Outeiro Do    ┆             ┆ eiriño       ┆   ┆           ┆            ┆       ┆          │
│     ┆ Castiñeiriñ…  ┆             ┆ (Santiago de ┆   ┆           ┆            ┆       ┆          │
│     ┆               ┆             ┆ …            ┆   ┆           ┆            ┆       ┆          │
│ 13  ┆ Piso en Rúa   ┆ null        ┆ A Carreira   ┆ … ┆ 2         ┆ 41         ┆ pisos ┆ a_coruna │
│     ┆ Rabazal       ┆             ┆ (Miño)       ┆   ┆           ┆            ┆       ┆          │
│ 14  ┆ Casa pareada  ┆ null        ┆ Centro       ┆ … ┆ 3         ┆ 40         ┆ pisos ┆ a_coruna │
│     ┆ en calle      ┆             ┆ Histórico    ┆   ┆           ┆            ┆       ┆          │
│     ┆ Virxe Da C…   ┆             ┆ (Santiago de ┆   ┆           ┆            ┆       ┆          │
│     ┆               ┆             ┆ Co…          ┆   ┆           ┆            ┆       ┆          │
└─────┴───────────────┴─────────────┴──────────────┴───┴───────────┴────────────┴───────┴──────────┘

In [140]:
# There are values that do not make sense with the column description as it should only indicate the type of apartment.
df_original['type'].unique()

shape: (186,)
Series: 'type' [str]
[
	"estudios"
	"cordoba"
	"navarra_nafarr…
	"arratia_nerbio…
	"area_de_guadal…
	"area_de_avila"
	"malaga_capital…
	"valencia"
	"trasmiera"
	"valladolid"
	"hospitalet_de_…
	"valles_occiden…
	…
	"palencia"
	"oeste_area_de_…
	"navarra_nafarr…
	"isla_de_mallor…
	"type"
	"salamanca"
	"zaragoza"
	"isla_de_mallor…
	"madrid_suroest…
	"malaga"
	"condado_parada…
	"sierra_de_cazo…
	"alt_penedes"
]

In [141]:
# Upon reviewing the rows causing these errors, I noticed two main issues:
# 
#     Some rows are missing commas, which results in misalignment with the columns.
#     Some rows use the string '...' to indicate missing data in the summary.
# 
# Additionally, if the price column does not contain the euro symbol ('€'), it suggests that the row is missing price information.

df_filtered = df_original.filter(
    (pl.col("summary") != "...") & 
    (pl.col("price").str.contains("€"))
)
print(f'From {len(df_original)} -> {len(df_filtered)} rows')
df_filtered['type'].unique()

From 777179 -> 768364 rows

shape: (8,)
Series: 'type' [str]
[
	"fincas_rustica…
	"estudios"
	"lofts"
	"aticos"
	"pisos"
	"piso"
	"casas"
	"duplexs"
]

In [192]:
# "Piso" and "Pisos" should be the same type. However, when the summary is observed for "Pisos", the classification is not correct as houses appear as flats.
df_filtered = df_filtered.with_columns(pl.col('summary').map_elements(lambda x: x.split(" ")[0]).alias("summary_type"))

types_df_aux = df_filtered.filter(pl.col("type") != "pisos")[["type", "summary_type"]].unique()

summary_types_to_types_dict = {}
for row in types_df_aux.iter_rows():
    summary_types_to_types_dict[row[1]] = row[0]

summary_types_to_types_dict

{'Piso': 'piso',
 'Estudio': 'estudios',
 'Loft': 'lofts',
 'Apartamento': 'piso',
 'Ático': 'aticos',
 'Dúplex': 'duplexs',
 'Finca': 'fincas_rusticas',
 'Casa': 'casas',
 'Chalet': 'casas'}

In [196]:
# Once the dict of types is created, now we can classify "pisos" correctly
df_filtered = df_filtered.with_columns(
    pl.when(pl.col("type") == "pisos")  # Condition: if the value is 'pisos'
    .then(pl.col("summary_type").map_elements(lambda x: summary_types_to_types_dict.get(x, x)))
    .otherwise(pl.col("type"))  # Keep original value if it's not 'pisos'
    .alias("updated_type")  # Create new column 'updated_type'
)

df_filtered.head(5)

shape: (5, 16)
┌─────┬─────────────┬─────────────┬─────────────┬───┬───────┬──────────┬─────────────┬─────────────┐
│     ┆ summary     ┆ description ┆ location    ┆ … ┆ type  ┆ region   ┆ summary_typ ┆ updated_typ │
│ --- ┆ ---         ┆ ---         ┆ ---         ┆   ┆ ---   ┆ ---      ┆ e           ┆ e           │
│ i64 ┆ str         ┆ str         ┆ str         ┆   ┆ str   ┆ str      ┆ ---         ┆ ---         │
│     ┆             ┆             ┆             ┆   ┆       ┆          ┆ str         ┆ str         │
╞═════╪═════════════╪═════════════╪═════════════╪═══╪═══════╪══════════╪═════════════╪═════════════╡
│ 0   ┆ Casa en     ┆ null        ┆ Ames (San   ┆ … ┆ pisos ┆ a_coruna ┆ Casa        ┆ casas       │
│     ┆ calle Urb.  ┆             ┆ Tome)       ┆   ┆       ┆          ┆             ┆             │
│     ┆ Las Mimosas ┆             ┆             ┆   ┆       ┆          ┆             ┆             │
│ 1   ┆ Piso en     ┆ null        ┆ Ames (San   ┆ … ┆ pisos ┆ a_coruna ┆ Piso        ┆ piso        │
│     ┆ Milladoiro  ┆             ┆ Tome)       ┆   ┆       ┆          ┆             ┆             │
│ 2   ┆ Casa en     ┆ null        ┆ A           ┆ … ┆ pisos ┆ a_coruna ┆ Casa        ┆ casas       │
│     ┆ calle La    ┆             ┆ Ortigueira  ┆   ┆       ┆          ┆             ┆             │
│     ┆ Piedra      ┆             ┆ (Cariño)    ┆   ┆       ┆          ┆             ┆             │
│ 3   ┆ Casa en     ┆ null        ┆ Perillo     ┆ … ┆ pisos ┆ a_coruna ┆ Casa        ┆ casas       │
│     ┆ Perillo     ┆             ┆ (Oleiros)   ┆   ┆       ┆          ┆             ┆             │
│ 4   ┆ Chalet en   ┆ null        ┆ O           ┆ … ┆ pisos ┆ a_coruna ┆ Chalet      ┆ casas       │
│     ┆ Urbanizació ┆             ┆ Milladoiro  ┆   ┆       ┆          ┆             ┆             │
│     ┆ n Las       ┆             ┆ (Ames)      ┆   ┆       ┆          ┆             ┆             │
│     ┆ Mimos…      ┆             ┆             ┆   ┆       ┆          ┆             ┆             │
└─────┴─────────────┴─────────────┴─────────────┴───┴───────┴──────────┴─────────────┴─────────────┘

In [202]:
# Select columns that are going to be used
columns_wanted = ['region', 'updated_type', 'size', 'rooms', 'bathrooms', 'price']
df = df_filtered[columns_wanted]

# Remove rows that contain any null value and rename column
df = df.drop_nulls().rename({"updated_type": "type"})
df.head(12)

shape: (12, 6)
┌──────────┬───────┬────────┬───────┬───────────┬───────────┐
│ region   ┆ type  ┆ size   ┆ rooms ┆ bathrooms ┆ price     │
│ ---      ┆ ---   ┆ ---    ┆ ---   ┆ ---       ┆ ---       │
│ str      ┆ str   ┆ str    ┆ i64   ┆ i64       ┆ str       │
╞══════════╪═══════╪════════╪═══════╪═══════════╪═══════════╡
│ a_coruna ┆ casas ┆ 315 m² ┆ 4     ┆ 3         ┆ 250.000 € │
│ a_coruna ┆ piso  ┆ 72 m²  ┆ 2     ┆ 1         ┆ 90.000 €  │
│ a_coruna ┆ casas ┆ 92 m²  ┆ 2     ┆ 1         ┆ 50.000 €  │
│ a_coruna ┆ casas ┆ 244 m² ┆ 4     ┆ 3         ┆ 359.000 € │
│ a_coruna ┆ casas ┆ 315 m² ┆ 4     ┆ 3         ┆ 200.430 € │
│ …        ┆ …     ┆ …      ┆ …     ┆ …         ┆ …         │
│ a_coruna ┆ piso  ┆ 48 m²  ┆ 1     ┆ 1         ┆ 102.000 € │
│ a_coruna ┆ casas ┆ 300 m² ┆ 4     ┆ 4         ┆ 285.000 € │
│ a_coruna ┆ piso  ┆ 82 m²  ┆ 4     ┆ 1         ┆ 49.000 €  │
│ a_coruna ┆ piso  ┆ 105 m² ┆ 3     ┆ 2         ┆ 260.000 € │
│ a_coruna ┆ piso  ┆ 96 m²  ┆ 3     ┆ 2         ┆ 109.000 € │
└──────────┴───────┴────────┴───────┴───────────┴───────────┘

In [203]:
# STEPS
# 1. Encode into labels the columns "region" and "type"
# 2. Obtain just the number of "size" and "price" and convert them to integer

def convert_to_float(value: str) -> float:
    # Remove periods used as thousands separators
    value = value.replace('.', '')
    # Replace the comma with a period for the decimal separator
    value = value.replace(',', '.')
    return float(value)

def encode_categories(values: pl.Series) -> Tuple[np.ndarray, LabelEncoder]:
    le = LabelEncoder()
    le.fit(values)
    label_values = le.transform(values)
    return label_values, le

def get_and_return_number(values: pl.Series):
    test = [convert_to_float(val.split()[0]) for val in values]
    return test

labels_region, le_region = encode_categories(df['region'])
labels_types, le_type = encode_categories(df['type'])

df = df.with_columns(pl.Series("region", labels_region)).with_columns(pl.Series("type", labels_types))

size_values = get_and_return_number(df['size'])
price_values = get_and_return_number(df['price'])

df = df.with_columns(pl.Series("size", size_values)).with_columns(pl.Series("price", price_values))

print(df)

shape: (741_472, 6)
┌────────┬──────┬────────┬───────┬───────────┬──────────┐
│ region ┆ type ┆ size   ┆ rooms ┆ bathrooms ┆ price    │
│ ---    ┆ ---  ┆ ---    ┆ ---   ┆ ---       ┆ ---      │
│ i32    ┆ i32  ┆ f64    ┆ i64   ┆ i64       ┆ f64      │
╞════════╪══════╪════════╪═══════╪═══════════╪══════════╡
│ 5      ┆ 1    ┆ 315.0  ┆ 4     ┆ 3         ┆ 250000.0 │
│ 5      ┆ 6    ┆ 72.0   ┆ 2     ┆ 1         ┆ 90000.0  │
│ 5      ┆ 1    ┆ 92.0   ┆ 2     ┆ 1         ┆ 50000.0  │
│ 5      ┆ 1    ┆ 244.0  ┆ 4     ┆ 3         ┆ 359000.0 │
│ 5      ┆ 1    ┆ 315.0  ┆ 4     ┆ 3         ┆ 200430.0 │
│ …      ┆ …    ┆ …      ┆ …     ┆ …         ┆ …        │
│ 869    ┆ 4    ┆ 1120.0 ┆ 10    ┆ 1         ┆ 1.1e6    │
│ 869    ┆ 4    ┆ 520.0  ┆ 8     ┆ 3         ┆ 1.5e6    │
│ 869    ┆ 4    ┆ 350.0  ┆ 5     ┆ 2         ┆ 1.35e6   │
│ 869    ┆ 4    ┆ 202.0  ┆ 5     ┆ 3         ┆ 456000.0 │
│ 869    ┆ 5    ┆ 87.0   ┆ 1     ┆ 1         ┆ 155000.0 │
└────────┴──────┴────────┴───────┴───────────┴──────────┘